[user]
	name = bahelms
	email = barrett.helms@technekes.com
[alias]
	st = status
	co = checkout
	lg = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	br = branch
[core]
	editor = vim
	autocrlf = input
	safecrlf = true
	excludesfile = /home/jimbonk/.gitignore
[push]
	default = simple
[merge]
  ff = no
