[user]
	name = jimbonk
	email = jimbonkgit@gmail.com
[alias]
	st = status
	co = checkout
  lg = log --pretty=format:'%C(bold yellow)%h%Creset - %C(green)%ad%Creset | %s%C(bold red)%d %C(bold blue)<%an>' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	br = branch
[core]
	editor = nvim
	autocrlf = input
	safecrlf = true
	excludesfile = /Users/jimbonk/dotfiles/.global_ignore
[push]
	default = simple
