snippet div "opens a div with class name attribute"
<div className="${1:class}">
  $0
</div>
endsnippet

snippet divi "opens a div with class name attribute"
<div className="${1:class}">$0</div>
endsnippet

snippet < "open an element"
<${1:tag}${2: className="${3:class}"}>
  $0
</`!p snip.rv = t[1]`>
endsnippet

snippet <i "open an element"
<${1:tag}${2: className="${3:class}"}>$0</`!p snip.rv = t[1]`>
endsnippet
